body{
				padding:0;
				margin:0;
				background:silver;
			}
			#form{
				width:50%;
				height:70%;
				margin:0 auto;
				padding:20px;
				background:white;
				
				
			}
			input{
				width:35%;
				display:block;
				margin:1%;
				height:8%;
				font-size:1.1em;
				font-family:Helvetica;
				
			}
			select{
				width:35%;
				display:block;
				margin:1%;
				height:8%;
				font-size:1.1em;
				font-family:Helvetica;
				
			}
			label{
				margin:1%;
				
				font-family:Helvetica;
			}